
@{
    ViewBag.Title = "Det lykkedes!";
    Reservation reservation = ViewBag.Reservation;
}

<h2>Her er din reservation:</h2>

<h3>ID: @reservation.ID</h3>
<p>Behandlings ID: @reservation.TreatmentID</p>
<p>Kunde ID: @reservation.CustomerID</p>
<p>Medarbejder ID: @reservation.EmployeeID</p>
<p>Starttid: @reservation.StartTime.ToLocalTime().ToString()</p>
<p>Sluttid: @reservation.EndTime.ToLocalTime().ToString()</p>